<h1 class="text-danger">FAVORITOS</h1>

<table class="table table-striped">
    <tr>
        <td align="center" style="width: 300px;"><b>Titulo</b></td>
        <td align="center" style="width: 520px;"><b>Descrição</b></td>
        <td align="center"><b>Valor</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {foreach from=$favoritos item=favorito}
        {assign var=imagem value="|"|explode:$favorito.nm_imagem}
        <tr>
            <td>{$favorito.titulo}</td>
            <td>{$favorito.descricao}</td>
            <td>R$ {$favorito.valor}</td>
            <td><img src="{$link}{$favorito.caminho_imagem}{$imagem.0}" width="60px" height="60px"/></td>
            <td><a class="btn btn-success act-ver-favorito"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            <td><a class="btn btn-danger act-excluir-favorito" data-id="{$favorito.id}"><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    {/foreach}
</table>

<script type="text/javascript" src="{$link}js/minhaConta/favoritos.js"></script>
