<h1 class="text-danger">EDITAR PRODUTO</h1>

<form action="{$smarty.const._PUBLIC_}/CadastroProduto/cadastrar/" method="post" name="form" enctype="multipart/form-data">
     <div>
         <label>Titulo:</label>
         <input type="text" class="form-control" id='titulo_produto_update' value="{$descProduto.titulo}" style="width: 400px;" />
     </div>
     <br>

     <div>
         <label>Categoria:</label>
         <select class="form-control" id="categoria_produto_update" style="width: 400px;">             
             {foreach from=$arrCategorias item=categoria}
             	{if $categoria.id eq $descProduto.categoria}
             		<option value='{$categoria.id}' selected="selected">{$categoria.categoria}</option>
             	{else}
             		<option value='{$categoria.id}'>{$categoria.categoria}</option>
             	{/if}
             {/foreach}             
         </select>
     </div>
     <br>

     <div>
         <label>Descrição:</label>
         <textarea id="desc_produto_update" class="form-control" rows="5" style="width: 400px;">{$descProduto.descricao}</textarea>
     </div>
     <br>

     <div>
         <label>Tipo de Produto:</label><br>
         {if $descProduto.estado eq 'novo'}
	         <label><input type="radio" class="tipo_produto" name="tipo_produto_update" value="novo" checked="checked"> - Novo:</label><br>
	         <label><input type="radio" class="tipo_produto" name="tipo_produto_update" value="usado"> - Usado:</label>
         {else}
         	 <label><input type="radio" class="tipo_produto" name="tipo_produto_update" value="novo"> - Novo:</label><br>
	         <label><input type="radio" class="tipo_produto" name="tipo_produto_update" value="usado" checked="checked"> - Usado:</label>
         {/if}
	         
     </div>
     <br><br>

     <div>
         <label>Fotos: </label><small>(Obrigatório no mínimo 1 foto)</small>
         <input type="file" class="form-control" name='foto1' style="width: 400px;" />
         <input type="file" class="form-control" name='foto2' style="width: 400px;" />
         <input type="file" class="form-control" name='foto3' style="width: 400px;" />
     </div>
     <br>

     <div>
         <label>Preço:</label>
         <input type="text" class="form-control" id="valor_produto_update" value="{$descProduto.valor}" maxlength="10" style="width: 400px;" />
     </div>
     <br>

     <button type="button" class="btn btn-primary act-alterar-produto"> Salvar alteração </button>
 </form>


<script>
	var url_deletar = "{$smarty.const._PUBLIC_}/MeusProdutos/deletarProduto/";
</script>


<script type="text/javascript" src="{$smarty.const._PUBLIC_}/js/minhaConta/meusProdutos.js"></script>