@font-face {
	font-family: "Adventure";
    src: url("fonts/Adventure.otf") format("truetype");
}

html,body{
    height:100%;
     /* font-family: Adventure;
     background-image: url("../imagens/background.jpg");
     background-size:100% 100%; */
    font-family: arial;

}

a{
    cursor: pointer;
}


.modal-body{
	background-color: #F3BC55;
}
.modal-header, .modal-footer{
	background-color: #fedd7a;
}

.form-control{
	width: 400px;
}
/*
.box-sombra {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.box-sombra-interno {
    position: relative;
    width: 100%;
    height: 100%;
}
.box-sombra-interno-sombra {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity:0.4; filter:alpha(opacity=40);
    width: 100%;
    height: 100%;
}
.box-sombra-interno-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -150px;
    width: 300px;
    height: 20px;
}
*/