@font-face {
	font-family: "Adventure";
	src: url("fonts/Adventure.otf") format("truetype");
}

html, body {
	height: 100%;
	/* font-family: Adventure;
     background-image: url("../imagens/background.jpg");
     background-size:100% 100%; */
	font-family: arial;
}

a {
	cursor: pointer;
}

.modal-body {
	background-color: #F3BC55;
}

.modal-header, .modal-footer {
	background-color: #fedd7a;
}

.form-control {
	width: 400px;
}

.img_perfil{
    position: relative;
    max-height: 100px;
    min-height: 100px;
    max-width: 100px;
    min-width: 100px;
}