<div align="center">
    <div align="left" style="width: 500px;">
        <h1>Cadastro de Produtos</h1>
        {if $autorizado == false}
        	<div class="well">VOCÊ NÃO ESTA AUTORIZADO A CADASTRAR PRODUTOS. FAVOR COMPLETAR SEU PERFIL <a href="{$smarty.const._PUBLIC_}/Perfil/">CLIQUE AQUI</a></div>
        {else}
	        {$msg}		
	        <form action="{$smarty.const._PUBLIC_}/CadastroProduto/cadastrar/" method="post" name="form" enctype="multipart/form-data">
	            <div>
	                <label>Titulo:</label>
	                <input type="text" class="form-control" id='titulo_produto' name='titulo_produto' style="width: 400px;" />
	            </div>
	            <br>
	
	            <div>
	                <label>Categoria:</label>
	                <select class="form-control" name="categoria_produto" style="width: 400px;">
	                    <option></option>
	                    <option>Mochila</option>
	                    <option>Cantil</option>
	                </select>
	            </div>
	            <br>
	
	            <div>
	                <label>Descrição:</label>
	                <textarea name="desc_produto" class="form-control" rows="5" style="width: 400px;"></textarea>
	            </div>
	            <br>
	
	            <div>
	                <label>Tipo de Produto:</label><br>
	                <label><input type="radio" class="tipo_produto" name="tipo_produto" value="novo"> - Novo:</label><br>
	                <label><input type="radio" class="tipo_produto" name="tipo_produto" value="usado"> - Usado:</label>
	            </div>
	            <br><br>
	
	            <div>
	                <label>Fotos: </label><small>(Obrigatório no mínimo 1 foto)</small>
	                <input type="file" class="form-control" name='foto1' style="width: 400px;" />
	                <input type="file" class="form-control" name='foto2' style="width: 400px;" />
	                <input type="file" class="form-control" name='foto3' style="width: 400px;" />
	            </div>
	            <br>
	
	            <div>
	                <label>Preço:</label>
	                <input type="text" class="form-control" name='valor_produto'  id="valor_produto" maxlength="10" style="width: 400px;" />
	            </div>
	            <br>
	
	            <button type="button" class="btn btn-primary act-cadastrar-produto"> Cadastrar </button>
	        </form>
		{/if}
    </div>
</div>

<script type="text/javascript" language="javascript" src="{$smarty.const._PUBLIC_}/libs/jquery/jquery.maskMoney.min.js"></script>
<script type="text/javascript" src="{$smarty.const._PUBLIC_}/js/cadastroProduto.js"></script>

<script type="text/javascript">
    var url_cadastro_produto = "{$smarty.const._PUBLIC_}/CadastroProduto/cadastrar";
</script>