<ol class="breadcrumb">
  <li><a href="/"><span class='glyphicon glyphicon-home'> Home</span></a></li>
  <li class="active">Contato</li>
</ol>
<div class="row">
	<div class="col-md-6">
		{$msg}
		<div align="center">
	    	<img src="/imagens/carregando.gif" class="hide carregando" />
    	</div>
	
	    <form action="/contato/" method="POST" name="form" id="form">
	        <div class="form-group">
	        	<input class="form-control" type="text" name="nome" id="nome" placeholder="Nome">
	        </div>
	        <div class="form-group">
	        	<input class="form-control" type="text" name="email" id="email" placeholder="E-mail">
	        </div>
	        <div class="form-group"> 
		        <select class="form-control" name="tipo" id="tipo">
		            <option>--- Escolha uma categoria ---</option>
		            <option value='1'>Duvídas</option>
		            <option value='2'>Reclamações</option>
		            <option value='3'>Sugestões</option>
		            <option value='4'>Elogios</option>
		        </select>
	        </div>	        
	        <div class="form-group">
	        	<textarea class="form-control" name="mensagem" id="mensagem" rows="5" placeholder="Mensagem"></textarea><br>
	        </div>
			<div class="form-group">	
	        	<input type="button" value="Enviar" class="btn btn-success btn-contato btn-enviar">
	        </div>
	    </form>
    </div>
</div>


<script type="text/javascript" src="/js/contato.js"></script>
