<div class="row">
	<div class="col-md-6">
	    <h1 class="text-warning">CONTATO</h1>
	    {$msg}
	
	    <img src="{$smarty.const._PUBLIC_}/imagens/carregando.gif" class="hide carregando" />
	
	    <form action="{$smarty.const._PUBLIC_}/contato/" method="POST" name="form" id="form">
	        <div class="form-group">
	        	<input class="form-control" type="text" name="nome" id="nome" placeholder="Nome">
	        </div>
	        <div class="form-group">
	        	<input class="form-control" type="text" name="email" id="email" placeholder="E-mail">
	        </div>
	        <div class="form-group"> 
		        <select class="form-control" name="tipo" id="tipo">
		            <option>--- Escolha uma categoria ---</option>
		            <option value='1'>Duvídas</option>
		            <option value='2'>Reclamações</option>
		            <option value='3'>Sugestões</option>
		        </select>
	        </div>	        
	        <div class="form-group">
	        	<textarea class="form-control" name="mensagem" id="mensagem" rows="5" placeholder="Mensagem"></textarea><br>
	        </div>
			<div class="form-group">	
	        	<input type="button" value="Enviar" class="btn btn-success btn-contato btn-enviar">
	        </div>
	    </form>
    </div>
</div>


<script type="text/javascript" src="{$smarty.const._PUBLIC_}/js/contato.js"></script>
