<style>
.form-control{
	width: 100%;
}
.div-contato{
	border: solid #703000; 
	background-color: #eee; 
	padding: 20px;
	text-align: center
}
</style>
<div class="div-contato">
    <h1 class="text-warning">CONTATO</h1>
    {$msg}

    <img src="{$smarty.const._PUBLIC_}/imagens/carregando.gif" class="hide carregando" />

    <form action="{$smarty.const._PUBLIC_}/contato/" method="POST" name="form" id="form">
        <label>Nome:</label>  <br> <input class="form-control" type="text" name="nome" id="nome">
        <label>Email:</label> <br> <input class="form-control" type="text" name="email" id="email">
        <label>Tipo:</label>  <br>
        <select class="form-control" name="tipo" id="tipo">
            <option value='1'>Duvídas</option>
            <option>Reclamações</option>
            <option>Sugestões</option>
        </select>
        <label>Mensagem:</label>
        <textarea class="form-control" name="mensagem" id="mensagem" rows="5"></textarea><br>

        <input type="button" value="Enviar" class="btn btn-success btn-contato btn-enviar">
    </form>
</div>


<script type="text/javascript" src="{$smarty.const._PUBLIC_}/js/contato.js"></script>
