<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" /> -->
		<meta name="format-detection" content="telephone=no" />
		<meta name="author" content="Ricardo Rocha"/>
        <meta name="copyright" content="Ricardo Rocha"/>
        <meta name="e-mail" content="rocharor@gmail.com"/>
        <meta name="keywords" content="Brecho Adventure"/>
        
        <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon" />        
        
        <title>Brechó Adventure</title>
        
        <!-- JQUERY-->
 		<script src="/node_modules/jquery/dist/jquery.js"></script>
        <!-- <script src="node_modules/jquery/dist/jquery.min.js"></script> -->
        
        <!-- BOOTSTRAP JS-->
		<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
		
		<!-- BOOTSTRAP-NOTIFY JS-->
		<script src="/node_modules/bootstrap-notify/bootstrap-notify.js"></script>
		<!-- <script src="/node_modules/bootstrap-notify/bootstrap-notify.min.js"></script> -->
		
		<script src="/js/padrao.js"></script>
		
        <!-- BOOTSTRAP CSS-->
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
        <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> -->

		
        <link type="text/css" rel="stylesheet" href="/node_modules/animatejs/animate.css" />
        <link type="text/css" rel="stylesheet" href="/css/topo.css" />
        <link type="text/css" rel="stylesheet" href="/css/rodape.css" />
        <link type="text/css" rel="stylesheet" href="/css/padrao.css" />
        
        
    </head>
    <body>
        <div class="geral">
            <div>
            	{include file="topo.html"}
            </div>
            
            <br />
            <div class="container" style="border: solid 0px;">
                {include file="$pagina_main"}
            </div>
            
            <br /><br /><br />
            <div>
            	{include file="rodape.html"}
            </div>
        </div> 
    </body>
</html>
