<style>
table{
	text-align: center;
}
.titulo-adm{
	background-color: #eee;
	font-weight: bold;
}
</style>
<div class='row'>
	<div class='col-md-6'>
		<table class="table table-hover">
			<thead>
				<tr class='titulo-adm'>
					<td colspan="3">Gerência dos Produtos</td>
				</tr>
				<tr>
					<td><b>Conteúdo</b></td>
					<td><b>QTD</b></td>
					<td><b>Visualizar</b></td>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td>Produtos Cadastrados</td>
					<td>15</td>
					<td><a href='' class='btn btn-primary glyphicon glyphicon-eye-open'></a></td>
				</tr>
				<tr>
					<td>Produtos Pendentes</td>
					<td>0</td>
					<td><a href='' class='btn btn-primary glyphicon glyphicon-eye-open'></a></td>
				</tr>
				<tr>
					<td>Produtos Excluídos</td>
					<td>2</td>
					<td><a href='' class='btn btn-primary glyphicon glyphicon-eye-open'></a></td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<div class='col-md-6 adm'>
		<table class="table table-hover">
			<thead>
				<tr class='titulo-adm'>
					<td colspan="3">Gerência das Mensagens</td>
				</tr>
				<tr>
					<td><b>Conteúdo</b></td>
					<td><b>QTD</b></td>
					<td><b>Visualizar</b></td>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td>Mensagens Reclamações</td>
					<td>15</td>
					<td><a href='' class='btn btn-primary glyphicon glyphicon-eye-open'></a></td>
				</tr>
				<tr>
					<td>Mensagens Elogios</td>
					<td>0</td>
					<td><a href='' class='btn btn-primary glyphicon glyphicon-eye-open'></a></td>
				</tr>
				<tr>
					<td>Mensagens não lidas</td>
					<td>2</td>
					<td><a href='' class='btn btn-primary glyphicon glyphicon-eye-open'></a></td>
				</tr>
				
			</tbody>
		</table>
	</div>
</div>