<div class='row'>
	<h1>Produtos Cadastrados</h1>
	<form action="" method="post" name="formProdutos">
		 <div class="form-group">
		 	<label style="border: solid 0px;">Tipo de produto:
			 <select class="form-control" onchange="filtroProdutos(this.value)" style="width:300px; display:inline;">
				<option>-- Escolha uma categoria --</option>
				<option value="1" {if $tipo eq 1} selected="selected" {/if}>Cadastrados</option>
				<option value="2" {if $tipo eq 2} selected="selected" {/if}>Pendentes</option>
				<option value="3" {if $tipo eq 3} selected="selected" {/if}>Excluídos</option>
			</select>
			</label> 
		</div>
	</form>
	
	<table class='table table-striped'>
		<thead>
			<tr>
				<td>Id</td>
				<td>Status</td>
				<td>Titulo</td>				
				<td>Aprovar</td>
				<td>Visualizar</td>
				<td>Excluir</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>7</td>
				<td>Pendente</td>
				<td style="width: 100%">Titulo de teste 123</td>				
				<td>{if pendente eq 'pendente'} <input type="checkbox" value=''/> {else} -- {/if}</td>
				<td><a href='' class='btn btn-primary'><span class='glyphicon glyphicon-eye-open'></span></a></td>
				<td><a href='' class='btn btn-danger act-deletar-produto'><span class='glyphicon glyphicon-remove'></span></a></td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary act-aprovar-produto">Aprovar</button>
</div>	

<!-- JS -->
<script>
var filtroProdutos = function(filtro){
	var url_filtro = url + '/admin/produto/'+filtro+'/';
	//var url_filtro = url + '/admin/mensagens/'+filtro+'/';
	window.open(url_filtro,'_self');
	
}

$('.act-deletar-produto').click(function(){
	/**/
	console.dir('deletar');
	var produto_id = $this.value();
	$.ajax({
        url: '',
        dataType: 'json',
        type: 'POST',
        data: {	'nome':nome },
        success: function(retorno){
            if(retorno.sucesso == true){                
                window.location.reload();
            }else{            	
                alert(retorno.msg);
            }
        },
        error: function(retorno){
            alert('Erro no sistema! cod-02')
        }
    })
});

$('.act-aprovar-produto').click(function(){
	/**/
	console.dir('Salvar');
});
</script>